$color-primary-v1: "";
$color-primary-v2: "";
$color-primary-v3: "";

$color-secondary-v1: "";
$color-secondary-v2: "";
$color-secondary-v3: "";

$color-tertiary-v1: "";
$color-tertiary-v2: "";
$color-tertiary-v3: "";

$color-destructive: "";

$color-white: "";
$color-grey-80: "";
$color-grey-60: "";
$color-grey-40: "";
$color-grey-20: "";
$color-black: "";
