.footer {
	min-width: 100%;
	border: 5px solid blue;
	padding: $padding_section;
	display: flex;
	justify-content: center;

	&__container {
		border: 5px solid red;
		max-width: $width-max_section__container;
		width: 100%;
	}
}
