body.catering {
	section.list {
		padding-inline: 20px;

		.section__container {
			gap: 50px;

			.category__group {
			}
		}
	}

	section.contact {
		flex-direction: row;
		justify-content: center;
		gap: 30px;

		.section__container {
			gap: 50px;
			
			.panel {
				max-width: 500px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
			}
		}
	}
}
